<footer>
  <div class="social-icons mb-2">
    <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://github.com" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <hr>
  <p class="mb-0">&copy; Air MNB. All rights reserved.</p>
</footer>
